{% extends 'base.html' %}
{% block content %}
<h1>welcome to login page</h1>


<form action="/login" method="POST">
    {% csrf_token %}
    {% if error %}
    <div>
        {{error}}
    </div>
    {% endif %}
    <div>
        <label for="email">Email</label>
        <input required type="text" id="email"
        name="email" >
    </div>

    <div>
        <label for="pass">Password</label>
        <input type="password" id="pass"
        name="password">
    </div>

    <button type="submit">login</button>


</form>
{% endblock %}