<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add student page</title>
</head>
<body>
<h3>welcome to student addition page</h3>
<form action="/savetotable" method="post">
<table>
    <tr>
        <td>
            enter the student name
        </td>
        <td>
            <input type="text" name="stname">
        </td>
    </tr>
      <tr>
        <td>
            enter the student location
        </td>
        <td>
            <input type="text" name="stlocation">
        </td>
    </tr>
      <tr>
        <td>
            enter the mark1
        </td>
        <td>
            <input type="text" name="stmark1">
        </td>
    </tr>
      <tr>
        <td>
            enter the mark2
        </td>
        <td>
            <input type="text" name="stmark2">
        </td>
    </tr>
    <tr>
        <td>
            enter the mark3
        </td>
        <td>
            <input type="text" name="stmark3">
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" value="save">
        </td>

    </tr>
</table>
</form>

</body>
</html>